*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    background-color: #1b0905;
    width: 100%;
}
.top1{
    padding: 0px 200px;
}
.top2{
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
    justify-content: center;
   
}
.top1 p{
    color: white;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 17px;
}
.top3{
    padding: 20px;
    background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d)
}
.customer h2{
    color: #ffea74;
    text-align: center;
    font-size: 60px;
}
hr{
    background-color: #ffea74;
    width: 400px;
    height: 1px;
    margin-left: 370px;
}
.customer_text p{
   background-color:  #d7d7d4;
   padding: 90px 45px 150px 45px;
   text-align: center;
   color: #0c0c0b;
   font-size: 16px;
    line-height: 35px;
    font-weight: 500;
}
.customer_text{
    padding: 0px 70px;
    position: relative;
}
.customer_img{
   position: absolute;
   margin-left: 420px;
   margin-top: -100px;
}
.cutomer_name h4{
    text-align: center;
    color: #ffea74;
}
.cutomer_name h5{
    text-align: center;
    color: white;
}
.cutomer_name{
    margin-top: 70px;
}
.call h2{
    color: #ffea74;
    text-align: center;
    font-size: 60px;
}
.call{
    padding: 50px 0px;
}
.form_control{
    border: inherit;
    border-bottom: #ddd solid 1px;
    background-color: transparent;
    font-size: 17px;
    margin-bottom: 30px;
    border-radius: inherit;
    padding-bottom: 10px;
    color: #f9fcfd;
    width: 100%;
    width: 520px;
    margin-left: 300px;
    margin-top: 50px;
}
.but{
    font-size: 17px;
    border: #fff solid 2px;
    background-color: transparent;
    color: #fff;
    padding: 10px 60px;
    border-radius: 35px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.but:hover{
    background-color: #fff;
    color: #000;
    transition: 2s;
}

.footer {
    background: #1b0905;
    padding-top: 90px;
}

.newtetter {
    padding-right: 60px;
}

.newtetter .tetter {
    border-bottom: #ddd solid 1px !important;
    background: transparent;
    padding: 7px 0px;
    border-radius: inherit;
    font-size: 17px;
    color: #fff;
    border: inherit;
    width: 100%;
}

.submit {
    margin-top: 15px;
    background: transparent;
    padding: 5px 45px;
    color: #5d5756;
    transition: all .4s ease-in;
    float: right;
    margin-bottom: -34px;
    border: #a19a98 solid 2px;
    border-radius: 39px;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    font-weight: 500;
}

.submit:hover {
    background: #fff;
    color: #000;
    border-radius: 20px;
    transition: all .4s ease-in;
}

.address h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 27px;
    font-weight: 700;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.address p {
    color: #fff;
    padding-bottom: 15px;
}

ul.Menu_footer li {
    padding-bottom: 6px;
    display: block;
    color: #3e7f21;
    position: relative;
}

ul.Menu_footer li a {
    display: block;
    color: #888;
    font-size: 17px;
    line-height: 21px;
}

ul.Menu_footer li a:hover {
    color: #f5e47b;
}

ul.Links_footer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

ul.Links_footer li {
    color: #888;
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 31px;
}

ul.loca li {
    color: #fcfbfb;
    padding-bottom: 10px;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    flex-wrap: wrap;
    align-items: center;
}




    

